@import 'globals';
@import 'fonts';
.header {
    &__logo {
        margin: 22px 0 23px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        & li {
            padding-top: 6px;
            display: inline-block;
            font-family: 'Bebas', sans-serif;
            font-size: 16px;
            &+li {
                margin-left: 28px;
            }
        }
        & a {
            text-decoration: none;
            color: #b9b9b9;
            &:hover {
                color: #e8663c;
            }
        }
    }
}

.thumbs__item {
    width: 140px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sliders {
    background-color: rgba(232, 96, 60, 0.502);
    height: 62px;
    width: 100%;
    margin-bottom: 520px;
}

.slider {
    margin-bottom: 20px;
    &__item {
        min-height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #fefefe;
    }
    &__text {
        background-color: rgb(232, 102, 60);
        opacity: 0.8;
        width: 413px;
        height: 124px;
        margin-top: 245px;
        margin-left: 28px;
        padding: 19px 22px;
        & p {
            font-size: 12px;
            font-family: 'HelveticaNeue', sans-serif;
        }
    }
    &__title {
        font-size: 18px;
    }
}

.thumbs .slick-track {
    transform: translate3d(0px, 0px, 0px) !important;
    width: 940px !important;
}

.thumbs .slick-slide {
    max-width: 140px;
}

.thumbs .slick-track div+div {
    margin-left: 20px;
}

.slick {
    &-list {
        padding: 0 0 !important;
    }
    &-arrow {
        margin: 0 45px;
        z-index: 1;
        width: 35px;
        height: 52px;
        &::before {
            display: none;
            content: "";
        }
    }
}

.features {
    margin-bottom: 48px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 300px;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        color: #e8663c;
        padding-left: 65px;
        font-weight: 700;
        margin-bottom: 40px;
        letter-spacing: -1px;
        text-transform: uppercase;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 46px;
            height: 46px;
            left: 0;
        }
    }
    &__text {
        font-family: 'HelveticaNeue', sans-serif;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
        color: rgb(65, 65, 65);
        margin-right: 20px;
    }
    &__link {
        display: inline-block;
        font-size: 12px;
        background-color: rgb(232, 102, 60);
        padding: 10px 15px 10px 13px;
        text-transform: uppercase;
        color: #fff;
    }
}

.portfolio::before {
    background-image: url(../images/icons/item-1.svg);
}

.work::before {
    background-image: url(../images/icons/item-2.svg);
    width: 50px;
    height: 40px;
}

.connected::before {
    background-image: url(../images/icons/item-3.svg);
    width: 42px;
    height: 40px;
}

.works {
    text-transform: uppercase;
    color: #e8663c;
    font-weight: 700;
    margin-bottom: 50px;
    &__title {
        margin-bottom: 26px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            margin-left: 20px;
            background-image: url(../images/recent_work/line.png);
            width: 84%;
            height: 19px;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        & img {
            width: 220px;
            height: 183px;
        }
    }
    &__item {
        text-decoration: none;
    }
}

.item {
    &__inner {
        border: 1px solid #dbdbdb;
        border-top: 0;
        padding: 13px;
        line-height: 18px;
    }
    &__title {
        color: #b9b9b9;
        font-size: 16px;
    }
    &__date {
        font-size: 11px;
        color: #e8663c;
    }
}

.footer {
    background-color: #f2b19c;
    &__inner {
        background-color: #e8663c;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 43px 35px 30px;
    }
    & a {
        color: #f3b29d;
        text-decoration: none;
    }
    & span {
        color: #f3b29d;
        font-family: 'HelveticaNeueLight', sans-serif;
        font-size: 12px;
        margin-bottom: 20px;
    }
    & img {
        width: 30px;
        height: 30px;
        margin-left: 6px;
    }
    &__title {
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
    }
    & p {
        font-family: 'HelveticaNeue', sans-serif;
        font-size: 12px;
        margin-bottom: 20px;
    }
    &__item {
        width: 265px;
    }
    &__icons {
        margin-top: 20px;
    }
}

.twitter {
    width: 230px;
}

.contact {
    & .info {
        margin-bottom: 0;
    }
    & a {
        color: #fff;
    }
}